.h1803_footer_sp *,
.h1803_footer_sp *::before,
.h1803_footer_sp *::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
.h1803_footer_sp .h1803_footer_inner {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  width: auto;
  margin: 0 auto;
  color: #000;
  font-size: 12px;
  line-height: 1.6;
  overflow: hidden;
  background-color: #ffffff;
}

.h1803_footer_sp a {
  color: #ff1212;
  text-decoration: none;
}

.h1803_footer_sp p,
.h1803_footer_sp img,
.h1803_footer_sp ul,
.h1803_footer_sp dl,
.h1803_footer_sp dt,
.h1803_footer_sp dd{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}
.h1803_footer_sp ul {
  list-style: none;
  overflow: hidden;
}

.h1803_footer_sp .h1803_footer_logo {
  text-align: center;
  padding: 20px 0;
}
.h1803_footer_sp .h1803_footer_logo img {
  width: 30%;
  max-width: 126px;
  margin: auto;
}
.h1803_footer_sp .h1803_footer_brandSite_list {
  display : -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap : wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap:         wrap;
}
.h1803_footer_sp .h1803_footer_brandSite_list li {
  width: 33.3333%;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-right: none;
  text-align: center;
}
.h1803_footer_sp .h1803_footer_brandSite_list li:nth-child(n + 4) {
  border-top: none;
}
.h1803_footer_sp .h1803_footer_brandSite_list li a {
  display: block;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #fff;
  border-right: 1px solid #e7e7e7;
}
.h1803_footer_sp .h1803_footer_brandSite_list li:nth-child(3n) a {
  border-right: none;
}
.h1803_footer_sp .h1803_footer_bs_list_img {
  width: 100%;
  display: block;
  vertical-align: middle;
}
.h1803_footer_sp .h1803_footer_bs_list_img img {
  max-width: 100%;
  max-height: 83px;
  vertical-align: middle;
}
.h1803_footer_sp .h1803_footer_info {
  margin-top: 20px;
}
.h1803_footer_sp .h1803_footer_info li a {
  display: block;
  padding: 10px 15px;
  line-height: 30px;
  color: #000;
  border-left: none;
  border-top: 1px solid #e0e0e0;
}
.h1803_footer_sp .h1803_footer_info li:last-child {
  border-bottom: 1px solid #e0e0e0;
}
.h1803_footer_sp .h1803_footer_info li img {
  width: 38%;
  max-width: 160px;
  vertical-align: middle;
}
.h1803_footer_sp .h1803_footer_info li.store img {
  width: 52%;
  max-width: 220px;
}
.h1803_footer_sp .h1803_footer_info li.store a {
  padding: 10px 0;
}
.h1803_footer_sp .h1803_footer_info_contact {
  padding: 15px;
  text-align: center;
}
.h1803_footer_sp .h1803_footer_info_contact dt {
  background: #f2f2f2;
  padding: 10px;
}
.h1803_footer_sp .h1803_footer_info_contact dd {
  padding: 15px 0 0;
}
.h1803_footer_sp .h1803_footer_copyright {
  color: #909090;
  padding: 0 10px;
  text-align: center;
  letter-spacing: 0.05em;
}

.h1803_footer_sp .footer_att {
  text-align: left;
  padding: 0 15px 15px;
  color: #8b0000;
}